* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif
}

/* GENERAL */

body {
  margin: 0;
}

main {
  padding: 1.5em;
  margin: 0 auto;
  min-width: 320px;
  max-width: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* INFO TEXT */

.result-text {
  margin-bottom: 50px; 
  font-weight: bold;
  text-transform: uppercase;
}

/* DRAWING */

.drawing-container {
  position: relative;
}

.drawing-container > * {
  background: black;
}

.scaffold-bottom {
  width: 170px;
  height: 10px;
  margin: 0 auto;
}

.scaffold-beam-vert {
  width: 10px;
  height: 300px;
  margin: 0 auto;
}

.small {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  margin-left: 20px;
}

.scaffold-beam-hor {
  width: 150px;
  height: 10px;
  margin-left: 140px;
}

.head {
  position: absolute;
  top: 50px;
  right: -25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 7px solid black;
  background: transparent;
}

.body {
  position: absolute;
  top: 110px;
  right: 1px;
  height: 80px;
  width: 8px;
}

.arm-left {
  position: absolute;
  top: 75px;
  right: 0;
  height: 75px;
  width: 8px;
  transform: rotate(-60deg);
  transform-origin: bottom right
}

.arm-right {
  position: absolute;
  top: 75px;
  right: 0;
  height: 75px;
  width: 8px;
  transform: rotate(60deg);
  transform-origin: bottom left;
}

.leg-left {
  position: absolute;
  top: 185px;
  right: 1px;
  height: 85px;
  width: 8px;
  transform: rotate(30deg);
  transform-origin: top right;
}

.leg-right {
  position: absolute;
  top: 185px;
  right: 1px;
  height: 85px;
  width: 8px;
  transform: rotate(-30deg);
  transform-origin: top left;
}

/* HANGMAN WORD */

.word {
  margin: 1em;
  display: flex;
  gap: 10px;
}

.letter-blank {
  border-bottom: 5px solid black;
  width: 2rem;
  text-align: center;
}

.letter {
  visibility: hidden;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* KEYBOARD */

.keyboard-container {
  align-self: stretch;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(65px, 1fr));
  gap: 0.5rem;
}

.key {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.75rem;
  width: 60px;
  height: 60px;
  background: white;
  border: 1px solid black;
  cursor: pointer;
}

.key:hover, .key:focus {
  background: #fdfbe2;
}